@font-face {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Share Tech Mono'), local('ShareTechMono-Regular'),
    url('fonts/share-tech-mono-v9-latin-regular.woff2') format('woff2'),
    url('fonts/share-tech-mono-v9-latin-regular.woff') format('woff');
}

html, body {
    font-family: 'Share Tech Mono', sans-serif;
    background: black;
    color: white;
    font-weight: bold;
}

#clock1, #clock2, #clock3 {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
}

#clock1 {
    left: 0
}

#clock2 {
    left: 0;
    right: 0;
}

#clock3 {
    right: 0;
}

.time, .zone, .date {
    display: block;
    width: 100%;
    position: absolute;
}

.zone {
    bottom: 4%;
}

#clock1 .time,
#clock3 .time {
    bottom: 10%;
}

#clock2 .time {
    bottom: 33%;
}

#clock2 .date {
    bottom: 28%;
}

#clock1, #clock3 {
    width: 24%
}
